<!-- contacto.html -->

{% extends 'portfolio/layout.html' %}

{% block style %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/sobre.css' %}"/>

{% endblock style %}


{% block main %}

    <h1 style="color: White; left: 20%;width:auto; position: relative; margin-bottom: 0; margin-top: 20px">Licenciatura</h1>

    <div class="blog">
        <a href="{% url 'novo' %}" class="new_post_btn"> </a>
        {% for blog_post in blog_posts %}
        <div class="blog_post">
            <div class="title">
                <p>{{blog_post.titulo}}</p>
            </div>
            <div class="description">
                <p>{{blog_post.descricao}}</p>
                {% if blog_post.image %}

                <img src="{{ blog_post.image.url|default_if_none:'#' }}" class="post_img" alt=""/>
                {% endif %}
            </div>
            <div class="author_date_edit">
                <p>{{blog_post.autor}} at {{blog_post.data}}<a class="edit_btn" href="{% url 'edita' blog_post.id %}" style="float: right; margin-right: 10px">Edit</a></p>
            </div>

        </div>
        {% endfor %}

    </div>




{% endblock main %}