<!-- home.html -->

{% extends 'portfolio/layout.html' %}


{% block style %}

{% endblock style %}



{% block main %}


    <center style="background-color: #000000"> <h2 style="color: white">Bem Vindo ao meu Portfolio!</h2><hr></center>

    <center style="background-color: #1e1e1f"><a href="" ><h2 style="color: white ">Programção</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/Csharp.png' %}">


    <center style="background-color: #202c34; "><a href="" ><h2 style="color: white ">Virtualização</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/Containers.png'%} ">


    <center style="background-color: #fdfdfe; "><a href="" ><h2 style="color: black ">Reverse-Engeneering (IDA)</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/revEng.png'%} ">



{% endblock %}




