<!-- home.html -->

{% extends 'portfolio/layout.html' %}


{% block style %}

{% endblock style %}



{% block content %}


    <h2 style="color: white">Bem Vindo ao meu Portfolio!</h2><hr>

    <center style="background-color: #1e1e1f"><a href="" ><h2 style="color: white; margin-bottom: 0">Programção</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/Csharp.png' %}">


    <center><a href="" ><h2 style="color: white; margin-bottom: 0">Virtualização</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/Containers.png'%} ">


    <center><a href="" ><h2 style="color: #ffffff; margin-bottom: 0">Reverse-Engeneering (IDA)</h2></a><br></center>

    {% load static %}
    <img class="image" src="{% static 'portfolio/images/revEng.png'%} ">



{% endblock %}




