<!DOCTYPE html>
<html lang="en" style="height: 10vh;color: black;justify-content: space-between;align-items: center;background: #86bbea; right: 0; top: 0; width: 100%;margin: 0">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{overflow-x: hidden;}
        .direita{display: flex;justify-content: flex-end;}
        footer{position: fixed;right: 0;bottom: 0;width: 100%;background-color: #86bbea;color: #000000;text-align: center;}
        header{color: black;justify-content: space-between;align-items: center;background: #a62c43; right: 0; top: -40px; width: 100%;margin: 0}
    </style>


</head>
<body>
    <header>
        <div>
            <h1 style="margin: 0">Manuel Silva.</h1>
            <nav>
                <a href="{% url 'portfolio:home' %}" style="display:flex;justify-content:space-between;"
                >   <!-- Para as páginas do site -->    </a>

               <nav class="direita" style="text-align: right">
                  <p style="margin: 20px;"><a href="">home</a>
                  <a href=""> products </a>
                  <a href=""> about </a>
                  <a href=""> contact </a></p>
               </nav>

            </nav>
        </div>
    </header>
	    <main>
        <!-- base.html -->
            {% block main %}



            {% endblock main %}


        </main>

    <footer>
        <p style="text-align: right;margin: 20px">ULHT 2º Ano</p>
    </footer>
</body>
</html>