<!DOCTYPE html>

<html lang="en"
      style="height: 10vh;color: black;justify-content: space-between;align-items: center;background: black; right: 0; top: 0; width: 100%;margin: 0">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">


</head>


{% load static %}
<link rel="stylesheet" href="{% static '' %}">


<body style="margin:0;">

    <header >
        <div >
            <h2 style="margin: 5px">Rodrigo Amaro</h2>

            <ol style="padding-left: 1000px;">
                <li> <a href={% url 'portfolio:home' %}> Home </a> </li>
                <li> <a href={% url 'portfolio:projeto' %}> Projetos </a> </li>
                <li> <a href={% url 'portfolio:sobre' %}> Sobre </a> </li>
                <li> <a href={% url 'portfolio:contacto' %}> Contacto </a> </li>
                <li> <a href={% url 'portfolio:licenciatura' %}> Licenciatura </a> </li>
                <li> <a href={% url 'portfolio:blog' %}> Blog </a> </li>
                <li> <a href={% url 'portfolio:test' %}> Test </a> </li>

            </ol>
            <a href="" class="btn"> <!-- outras cenas --> </a>
        </div>
    </header>
<br><br><br><br>


    <main>
        {% block main %}



        {% endblock main %}
    </main>



    <footer>
        <p style="text-align: right;margin: 20px;color: #3a0000">ULHT</p>
    </footer>
</body>
</html>